{% extends "basic.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background-color: #2b542c">
      <div class="container" style="color: #2aabd2">
        <h1 class="display-4">学生域数据分析</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <a class="lead" href="/student">点击进入</a>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: #8d4654">
      <div class="container" style="color: #9acfea">
        <h1 class="display-4">课程域数据分析</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <a class="lead" href="/subject">点击进入</a>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: #d58512">
      <div class="container" style="color: #b2dba1">
        <h1 class="display-4">群体域数据分析</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <a class="lead" href="/Class">点击进入</a>
      </div>
    </div>
{% endblock %}